@model HDD.Models.AssignSecondaryOwnerViewModel;

@{
    ViewData["Title"] = "Assign Secondary Owner to VINs";
}

@*<nav aria-label="breadcrumb">
    <ol class="breadcrumb textDetail">
        <li class="breadcrumb-item "><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">VIN Eligibility</li>
    </ol>
</nav>*@

<h2 class="text-primary">@ViewData["Title"]</h2>
@*	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Assign Secondary Owner to VINs</h2>
		</div>
	</div>*@

     <br /><br />
 <form id="AssignSecondaryOwner" asp-action="AssignSecondaryOwner"  method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 @*   <div class="row g-3">*@
            <div class="row g-3">
                <div class="col-md-4">
                    <label asp-for="SecondaryOwnerId" class="control-label"></label>
                    <select asp-for="SecondaryOwnerId" class="form-control" asp-items="ViewBag.Emails">
                        <option value="0">Please select</option>
                    </select>
                </div>
                <div class="col-md-1">
                    OR
                </div>
                <div class="col-md-4">
                    <label asp-for="SecondaryOwnerId" class="control-label"></label>
                    <input asp-for="SecondaryOwnerId" class="form-control" />
                    <span asp-validation-for="SecondaryOwnerId" class="text-danger"></span>
                </div>		

            </div>

@*            @if (Model is not null && Model.VinSecondaryOwnerActions.Count() > 0)
            {*@
                 <table id="AssignSecondaryOwner" class="table table-bordered table-hover" >
                        @*<table class="table table-bordered table-hover" style="width:100%">*@
                              <thead>
                                     <tr>
                                           <th>VIN</th>
                                           <th>Assigned?</th>
                                     </tr>
                              </thead>
                              <tbody>
                                @if (Model is not null && Model.VinSecondaryOwnerActions.Count() > 0)
                                {
                                    @foreach(var obj in Model.VinSecondaryOwnerActions)
                                    {
                                        <tr>
                                                <td >@obj.Vin</td>
                                                <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="@obj.Assigned">
                                                </div>
                                                </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                    <td >No vins</td>
                                    </tr>
                                }
                              </tbody>
                 </table>
@*            }*@

@*</div>*@
</form>







@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
@section scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function () {
			$("#SecondaryOwnerId").change(function () {
                var soid = $("#SecondaryOwnerId").val();
                alert("SecondaryOwnerEmail before ajax: " + $("#SecondaryOwnerId").val());
                debugger;

                $.ajax({
                url: '@Url.Action("GetVinsForAssignment")',
                data: { secondaryOwnerId: soid },
                cache: false,
                type: "GET",
                success: function (data) {
                    alert("SecondaryOwnerEmail after ajax: " + data);
                    $('#AssignSecondaryOwner > table').html(data);
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

            });
        });
    </script>
}