@model HDD.Models.RetrofitApplicationDmvccddata


@{
    ViewData["Title"] = "Edit";

}



<form asp-action="Details" enctype="multipart/form-data" class="row g-3"  method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            @Model.Vin Customer Registration Information
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="row g-3">
                <div class="form-floating col-md-6">
                    <input asp-for="Vin" class="form-control" disabled readonly />
                    <label asp-for="Vin" class="form-label"></label>
                </div>
                <div class="form-floating col-md-3">
                    <input asp-for="Plate" class="form-control" disabled readonly />
                    <label asp-for="Plate" class="form-label"></label>
                </div>		
                <div class="form-floating col-md-3">
                    <input asp-for="ModelYear" class="form-control" disabled readonly />
                    <label asp-for="ModelYear" class="form-label"></label>
                </div>
            </div>
		    <div class="row g-3">
                <div class="form-floating col-md-4">
                    <input asp-for="EngineYear" class="form-control" />
                    <label asp-for="EngineYear" class="form-label"></label>
                    <span asp-validation-for="EngineYear" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <input asp-for="EngineManufacturer" class="form-control" />
                    <label asp-for="EngineManufacturer" class="form-label"></label>
                    <span asp-validation-for="EngineManufacturer" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4">
                    <input asp-for="Gvw" class="form-control" disabled readonly/>
                    <label asp-for="Gvw" class="form-label"></label>
                    <span asp-validation-for="Gvw" class="text-danger"></span>
                </div>
		    </div>
		    <div class="row g-3">
                <div class="form-floating col-md-6">
                    <input asp-for="EngineDisplacement" class="form-control" />
                    <label asp-for="EngineDisplacement" class="form-label"></label>
                    <span asp-validation-for="EngineDisplacement" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6">
                    <input asp-for="EngineFamilyNumber" class="form-control" />
                    <label asp-for="EngineFamilyNumber" class="form-label"></label>
                    <span asp-validation-for="EngineFamilyNumber" class="text-danger"></span>
                </div>
		    </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            @Model.Vin Customer Information
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
              <div class="form-floating col-12">
                <input asp-for="OwnerName" class="form-control form-control-sm" disabled readonly/>
                <label asp-for="OwnerName" class="form-label"></label>                
              </div>
              <div class="form-floating col-12">
                <input asp-for="StreetAddress" class="form-control form-control-sm" disabled readonly />
                <label asp-for="StreetAddress" class="form-label"></label>
              </div>
              <div class="row g-3">
                <div class="form-floating col-md-6">
                    <input asp-for="City" class="form-control form-control-sm" disabled readonly/>
                    <label asp-for="City" class="form-label"></label>
                </div>
                <div class="form-floating col-md-4">
                    <input asp-for="State" class="form-control form-control-sm" disabled readonly/>
                    <label asp-for="State" class="form-label"></label>
                </div>
                <div class="form-floating col-md-2">
                    <input asp-for="Zip" class="form-control form-control-sm" disabled readonly />
                    <label asp-for="Zip" class="form-label"></label>
                </div>
              </div>
              <div class="row g-3">
                <div class="form-floating col-md-4">
                    <input asp-for="County" class="form-control form-control-sm" disabled readonly/>
                    <label asp-for="County" class="form-label"></label>
                </div>
                <div class="form-floating col-md-4">
                    <input asp-for="RegistrationExpiration" class="form-control form-control-sm" disabled readonly/>
                    <label asp-for="RegistrationExpiration" class="form-label"></label>
                </div>
                <div class="form-floating col-md-4">
                    <input asp-for="PubliclyOwned" class="form-control form-control-sm" disabled readonly />
                    <label asp-for="PubliclyOwned" class="form-label"></label>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            @Model.Vin Customer Retrofit Application Information
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
                <div class="row g-3">
                    <div class="form-floating col-md-6">
					    <input asp-for="ArtFamilyName" class="form-control" />
                        <label asp-for="ArtFamilyName" class="form-label"></label>
					    <span asp-validation-for="ArtFamilyName" class="text-danger"></span>
				    </div>
				    <div class="form-floating col-md-6">
					    <input asp-for="RetrofitType" class="form-control" />
                        <label asp-for="RetrofitType" class="form-label"></label>
					    <span asp-validation-for="RetrofitType" class="text-danger"></span>
				    </div>			
			    </div>
                <div class="row g-3">
                    <div class="form-floating col-md-6">
					    <input asp-for="RetrofitProvider" class="form-control" />
                        <label asp-for="RetrofitProvider" class="form-label"></label>
					    <span asp-validation-for="RetrofitProvider" class="text-danger"></span>
				    </div>
				    <div class="form-floating col-md-6">
					    <input asp-for="ApplicationDate" class="form-control" />
                        <label asp-for="ApplicationDate" class="form-label"></label>
					    <span asp-validation-for="ApplicationDate" class="text-danger"></span>
				    </div>
			    </div>
                <div class="form-floating col-12">
                    <input asp-for="Comments" class="form-control" />
                    <label asp-for="Comments" class="form-label"></label>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>      
            </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree1" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree1">
            @Model.Vin Customer Retrofit Application Documents Submitted
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree1">
          <div class="accordion-body">
            <table class="table table-bordered table-hover" >
            @*<table class="table table-bordered table-hover" style="width:100%">*@
	            <thead>
		            <tr>
			            @*<th>VIN</th>*@
			            <th>File Name</th>
@*			            <th>File Path</th>*@
			            <th>Mark for Delete</th>
		            </tr>
	            </thead>
	            <tbody>
                    @if (Model.DocumentActions.Count() > 0)
                    {
                        @foreach(var obj in Model.DocumentActions)
		                {
			                <tr>
				                @*<td >@obj.Vin</td>*@
				                <td ><a href="https://deqtoo.org" target="_blank">@obj.DocumentName</a></td>
                                @*<td width="10%">@obj.DocumentPath</td>*@
				                <td>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="@obj.IsDelete">
@*                                      <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                      </label>*@
                                    </div>
                                </td>
			                </tr>
                        }
                    }
                    else
                    {
                        <tr>
                        <td >No documents submitted</td>
                        </tr>
                    }

			
	            </tbody>
            </table>    
            </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            @Model.Vin Customer Retrofit Application Document Uploads
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">

@*            <div class="mb-3">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>*@
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label">Select Document(s) to submit</label>
              <input class="form-control" type="file" id="file" onchange="FileDetails()" multiple />
              <div id="uploadHelp" class="form-text">***Acceptable document types are jpegs and pdfs.</div>
            </div>

    <!--SHOW RESULT HERE-->
            <div class="mb-3">
                <p id="fp"></p>
                @*<input type="button" class="btn btn-info" value="Show Details" onclick="FileDetails()" >*@
            </div>


            <script>
                function FileDetails() {

                    // GET THE FILE INPUT.
                    var fi = document.getElementById('file');

                    alert ("fi ====> "+fi);

                    // VALIDATE OR CHECK IF ANY FILE IS SELECTED.
                    if (fi.files.length > 0) {
                        if (fi.files.length > 6) {
                            alert ('Max number of documents uploaded each time is 6.')
                        }

                        // THE TOTAL FILE COUNT.
                        document.getElementById('fp').innerHTML =
                            'Total Files: <b>' + fi.files.length + '</b></br >';

                        // RUN A LOOP TO CHECK EACH SELECTED FILE.
                        for (var i = 0; i <= fi.files.length - 1; i++) {

                            var fname = fi.files.item(i).name;      // THE NAME OF THE FILE.
                            var fsize = fi.files.item(i).size;      // THE SIZE OF THE FILE.

                            // SHOW THE EXTRACTED DETAILS OF THE FILE.
                            document.getElementById('fp').innerHTML =
                                document.getElementById('fp').innerHTML + '<br /> ' +
                                    fname + ' (<b>' + fsize + '</b> bytes)';
                        }
                    }
                    else { 
                        alert('Please select a file.') 
                    }

                    alert ("this is the end ..."+fi);
                }
            </script>


@*            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="customFileInput">Upload</button>
            </div>*@

          </div>
        </div>

@*        <div class="row  btn-group" role="group">
            <div class="btn-group" role="group">
                <a asp-action="Save" asp-route-id="@Model.Vin" class="btn btn-primary ">
                <i class="bi bi-pencil-square">Save</i>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a asp-action="Submit" asp-route-id="@Model.Vin"  class="btn primary ">
                <i class="bi bi-pencil-square">Submit</i>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a asp-action="Unclaim" asp-route-id="@Model.Vin"  class="btn btn-danger ">
                <i class="bi bi-trash-fill">UnClaim this VIN</i>
                </a>
            </div>
        </div>*@

@*        <div class="row btn-group" role="button">*@
    <p>

                <a asp-action="Save" asp-route-id="@Model.Vin" class="btn btn-primary mx-2">
                <i class="bi bi-pencil-square">Save</i>
                </a>


                <a asp-action="Submit" asp-route-id="@Model.Vin"  class="btn btn-primary mx-2">
                <i class="bi bi-pencil-square">Submit</i>
                </a>


                <a asp-action="Unclaim" asp-route-id="@Model.Vin"  class="btn btn-danger mx-2">
                <i class="bi bi-trash-fill">UnClaim @Model.Vin</i>
                </a>
</p>
  @*      </div>*@

      </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to your Vins list</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}




    <script>
function buttonA_clickHandler() {
    alert('scooby doo where are you????');
    document.getElementById('SubmissionStatus').value = "VehicleInfo";
    document.getElementById('VehicleInfoForm').submit();
}
</script>

}